<template>
	<div class="bgwhite h-full">
		<div class="p-l-20 p-r-20 p-t-20 p-b-50">
			<form class="p-t-40" @submit.prevent="checkFileExist">
				<div class="row">
					<div class="col-lg-5 custom-mx-auto">

						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label>Department name</label>
									<input type="text" v-model="form.name" class="form-control" readonly>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label>ID number</label>
									<input  type="text" v-model="form.id_number" class="form-control" readonly>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>File name</label>
									<input  type="text" v-model="fileInfo.file_name" class="form-control" required>

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<input type="file" class="form-control-file" @change="getFiles" required>
								</div>
							</div>
						</div>

						<div class="row">
					<div class="col-lg-12">
						<div class="m-t-10 pull-right">
							<router-link :to="'/departments/view-files/'+$route.params.id" class="btn btn-light custom-btn-default  mr-2">Cancel</router-link>
							<button type="submit" class="btn custom-btn-red btn-danger" :disabled="disabled">Submit</button>
						</div>
					</div>
				</div>

					</div>
				</div>

				
			</form>
		</div>
		<ProgressBar v-if="showProgressBar" progressBarGetters="departments/getProgressBarPercent"/>
	</div>
</template>

<script>

import ProgressBar from '@/views/components/ProgressBar'

export default {
	components: {ProgressBar},

	data() {
		return {
			showProgressBar: false,
			disabled: false,

			file: null,

			form: {
				name: '',
				id_number: null,
			},

			fileInfo: {
				file_name: null,
				file_ext: null
			}
		}
	},

	methods: {

		checkFileExist() {
			this.disabled = true;
			this.$store.dispatch('departments/checkFileExist', {

				id_number: this.form.id_number, 
				file_name: this.fileFullName

			}).then(res=> {
				if(res) {
					this.disabled = false
					return vm.swalWarningMessage('File name exist.');
				}
				return this.submitData();
			})

		},
		submitData() {
			this.showProgressBar = true
			this.$store.dispatch('departments/addFile', {
				id_number: this.form.id_number, 
				file: this.file,
				file_name: this.fileFullName.replace(/\s+/g,' ').trim()

			}).then(res => {
				if(res) {
					vm.swalSuccessMessage()
				}
				this.showProgressBar = false
				setTimeout(() => {
					this.disabled = false
				}, 2000)
			})
		},

		async fetchDepartmentInfo() {
			this.disabled = true;
			await this.$store.dispatch('departments/getDepartmentInfo', {id:this.$route.params.id}).then(res => {
				this.form = { ...res}
			});
			await setTimeout(() => {
				this.disabled = false
			}, 1000)
			return await true;
		},

		getFiles(e) {
			const filename = e.target.files[0].name;
			const file_ext = filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
			const removedExt = filename.split('.').slice(0, -1).join('.')
			this.fileInfo.file_name = removedExt;
			this.fileInfo.file_ext = file_ext.toLowerCase();
			this.file = e.target.files[0]
		}
	},

	created() {
		this.fetchDepartmentInfo();
	},

	computed: {
		fileFullName() {
			return this.fileInfo.file_name+'.'+(this.fileInfo.file_ext).toLowerCase();
		}
	}

};
</script>