<template>
	<div class="bgwhite h-full">
		<div class="p-l-20 p-r-20 p-t-20 p-b-50">

			<form class="p-t-20" @submit.prevent="submitData">
				<div class="row">
					<div class="col-lg-4 card p-4 custom-mx-auto">

						<div class="form-group">
							<label>Name</label>
							<input @blur="formatName" type="text" v-model="form.name" class="form-control" required>
						</div>
					

						<div class="form-group">
							<label>id number</label>
							<input  type="text" v-model="form.id_number" class="form-control" readonly>
						</div>


						
						<div class="row">
					<div class="col-lg-12">
						<div class="m-t-10 pull-right">
							<router-link to="/departments" class="btn btn-light custom-btn-default  mr-2" >Cancel</router-link>
							<button type="submit" class="btn custom-btn-red btn-danger" :disabled="disabled">Update</button>
						</div>
					</div>
				</div>

					</div>
				</div>

				
			</form>
		</div>
	</div>
</template>

<script>

export default {
	components: {},
	data() {
		return {
			disabled: false,

			form: {
				name: '',
				id_number: null,
			}
		}
	},

	methods: {
		submitData() {
			this.disabled = true;
			this.$store.dispatch('departments/updateDepartment', {
				form: this.form,
				id: this.$route.params.id
			}).then(res => {
				if(res) {
					this.fetchDepartmentInfo();
					vm.swalSuccessMessage('Data has been updated')
				}
				setTimeout(() => {
					this.disabled = false
				}, 1000)
			})

		},

		async fetchDepartmentInfo() {
			this.disabled = true;
			await this.$store.dispatch('departments/getDepartmentInfo', {id:this.$route.params.id}).then(res => {
				this.form = { ...res}
			});
			await setTimeout(() => {
				this.disabled = false
			}, 1000)
			return await true;
		},

		formatName() {
			return this.form.name = this.titleCase(this.form.name);
		},

		titleCase(str) {
			var splitStr = str.toLowerCase().split(' ');
			for (var i = 0; i < splitStr.length; i++) {

				splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
			}
			return splitStr.join(' '); 
		}
	},

	created() {
		this.fetchDepartmentInfo();
	}

};
</script>