<template>
	<div class="bgwhite h-full" style="zoom: .9">
		<div class="p-l-20 p-r-20 p-t-30 p-b-50">
			<vue-good-table v-if="rows && rows.length > -1"
				:columns="columns"
				:rows="rows"

				@on-cell-click="onRowClick"

				:pagination-options="{
				enabled: true,
			}"
			:search-options="{
			enabled: true
		}"
		>

		<template slot="table-row" slot-scope="props">

			<span v-if="props.column.field == 'department_info'">
				<div class="mb-1 mt-2"><b>ID NUMBER:</b> {{props.row.id_number}}</div>
				<div class="mb-3"><b>NAME:</b> {{props.row.name}}</div>

				<div class="mb-4">
					<ul class="list-group d-flex flex-column"> 
							<li class="list-group-item mx-1">
				<button type="button" title="Add files" 
				@click="addFile(props.row.id)" 
				class="btn social-btn btn-inverse-secondary w-100">
					<i class="fa fa-plus text-dark"></i>
				</button>
			</li>
			<li class="list-group-item mx-1">
				<button type="button" @click="viewFiles(props.row.id)" title="View files"
				class="btn social-btn btn-inverse-secondary w-100">
				<i class="fa fa-folder-open-o text-dark"></i>
			</button>
		</li>
		<li class="list-group-item mx-1">
			<button type="button" @click="editdepartmentInfo(props.row.id)" title="Edit department info" class="btn social-btn btn-inverse-secondary w-100">
				<i class="fa fa-pencil-square-o text-dark"></i>
			</button>
		</li>

			</ul>
		</div>
	</span>
	

	<span v-else-if="props.column.field == 'actions'">
		<ul class="list-group d-flex flex-row"> 

			<li class="list-group-item mx-1">
				<button type="button" title="Add files" @click="addFile(props.row.id)" class="btn social-btn btn-inverse-secondary">
					<i class="fa fa-plus text-dark"></i>
				</button>
			</li>
			<li class="list-group-item mx-1">
				<button type="button" @click="viewFiles(props.row.id)" title="View files"
				class="btn social-btn btn-inverse-secondary">
				<i class="fa fa-folder-open-o text-dark"></i>
			</button>
		</li>
		<li class="list-group-item mx-1">
			<button type="button" @click="editdepartmentInfo(props.row.id)" title="Edit department info" class="btn social-btn btn-inverse-secondary">
				<i class="fa fa-pencil-square-o text-dark"></i>
			</button>
		</li>

	</ul>
</span>

<span v-else-if="props.column.field == 'remove'">
	<ul class="list-group d-flex flex-row"> 
		<li class="list-group-item mx-1">
			<button type="button"
			@click="deleteRow(
			props.row.id, 
			props.row.id_number
			)"
			title="remove row" 
			class="btn social-btn btn-inverse-secondary">
			<i class="fa fa-trash-o text-dark"></i>
		</button>
	</li>
</ul>
</span>
</template>

</vue-good-table>

<template v-else>
	<Skeleton height="400px" width="100%"/>
</template>


<div class="custom-row m-t-20">
	<div class="custom-column-12">
		<router-link to="/departments/create" class="red-button">Add Department</router-link>
	</div>
</div>

</div>

</div>
</template>

<script>
import Skeleton from '@/views/components/Skeleton'
import extColumns from './departmentsColumns.js'

export default {
	components: {Skeleton},

	data() {
		return {
			windowWidth: window.innerWidth,
			isMobile: false,
		}
	},

	created() {
		this.performfetchData()
	},

	methods: {

		performfetchData(nextPrev) {
			this.$store.dispatch('departments/getDepartments',{data:{search: null}, nextPrev})
		},

		onRowClick(v) {

			if (v.column.field != ["actions"] && v.column.field != ["department_info"]) {
				this.$router.push({
					name: 'Show department Information',
					params: {
						id: v.row.id
					}
				});
			}
		},

		deleteRow(id, id_number) {
			const params = {
				id,
				id_number
			};
			vm.swalRemove().then(res => {
				if(res) {
					this.$store.dispatch('departments/removeDepartment', params)
					.then(res => {
						if(res) {
							this.performfetchData();
							vm.swalSuccessMessage('Removed successfully');
						} else {
							vm.swalErrorMessage();
						}
					})
				}
			});
		},

		addFile(id) {
			this.$router.push({
				name: 'Add File',
				params: {
					id: id
				}
			});
		},

		viewFiles(id) {
			this.$router.push({
				name: 'View Files',
				params: {
					id: id
				}
			});
		},

		editdepartmentInfo(id) {
			this.$router.push({
				name: 'Edit department Information',
				params: {
					id: id
				}
			});
		},

		onResize() {
			this.windowWidth = window.innerWidth
		}
	},

	computed: {

		rows() {
			return this.$store.getters['departments/getDepartments'];
		},

		columns()  {
			if(!this.isMobile) {
				return extColumns.desktop;
			} else {
				return extColumns.mobile;
			}
		}

	},

	mounted() {
		if(window.innerWidth > 700) {
			this.isMobile = false;
		} else {
			this.isMobile = true;
		}

		this.$nextTick(() => {
			window.addEventListener('resize', this.onResize);
		})
	},

	beforeDestroy() { 
		window.removeEventListener('resize', this.onResize); 
	},

	watch: {
		windowWidth(value) {
			if(+value > 700) {
				return this.isMobile = false;
			} else {
				return this.isMobile = true;
			} 

		}
	}

};
</script>