<template>
	<div class="bgwhite h-full" v-if="page">
		<div class="p-l-20 p-r-20 p-t-20 p-b-50">

			<form class="p-t-20">
				<div class="row">
					<div class="col-lg-4 card p-4 custom-mx-auto">

						<div class="form-group">
							<label>Name</label>
							<input type="text" v-model="form.name" class="form-control" readonly>
						</div>
						
						<div class="form-group">
							<label>ID number</label>
							<input  type="text" v-model="form.id_number" class="form-control" readonly>
						</div>


					<!-- 	<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Gender</label>
									<select class="form-control" v-model="form.gender" disabled>
										<option value="male">male</option>
										<option value="female" selected>female</option>
									</select>
								</div>
							</div>
						</div> -->
						
						<div class="row">
							<div class="col-lg-12">
								<div class="m-t-10 pull-right">
									<router-link to="/departments" class="btn custom-btn-red btn-danger  mr-2" >Back</router-link>
								</div>
							</div>
						</div>
					</div>
				</div>

				
			</form>
		</div>
	</div>
</template>

<script>

export default {
	components: {},
	data() {
		return {
			page: false,
			disabled: false,

			form: {
				name: '',
				id_number: null,
			}
		}
	},

	methods: {
		async fetchDepartmentInfo() {
			
			await this.$store.dispatch('departments/getDepartmentInfo', {id:this.$route.params.id}).then(res => {
				this.form = { ...res}
			});
			await setTimeout(() => {
				this.page = true
			}, 500)
			return await true;
		}
	},

	created() {
		this.fetchDepartmentInfo();
	}

};
</script>