<template>
	<div v-if="updateFileRequiredFields">
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container" v-click-outside="closeModal">
						<form @submit.prevent="updateFile">
							<a  href="Javascript:void(0)" class="text-secondary pull-right" @click="$emit('close')"><i class="fa fa-times"></i></a>

							<div class="modal-header">
								<slot name="header">
									<h6>
										<b>File name:</b> {{updateFileRequiredFields.file_name}}
									</h6>
								</slot>
							</div>

							<div class="modal-body">
								<slot name="body">
									<div class="row">
										<div class="col-lg-12">
											<div>
												<div class="form-group">
													<input type="file" class="form-control-file" @change="getFiles" required>
												</div>
											</div>
										</div>
									</div>
								</slot>
							</div>

							<div class="modal-footer">
								<slot name="footer">
									<button class="red-button" type="submit">Update</button>
								</slot>
							</div>
						</form>
					</div>
				</div>
			</div>
		</transition>
		<ProgressBar v-if="showProgressBar" progressBarGetters="departments/getProgressBarPercent"/>
	</div>
</template>

<script>
import ProgressBar from '@/views/components/ProgressBar'


export default {
	components: {ProgressBar},
	data() {
		return {
			file: null,
			showProgressBar: false,

		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},

		getFiles(e) {
			this.file = e.target.files[0]
		},

		updateFile() {
			this.showProgressBar = true
			this.$store.dispatch('departments/updateFile', {
				...this.updateFileRequiredFields, ...{file: this.file}
			}).then(res => {
				if(res) {
					this.$parent.performfetchData();
					vm.swalSuccessMessage('File updated successfully')
				}
				this.showProgressBar = false;
				setTimeout(() => {
					this.disabled = false
				}, 2000)
			})
		},

	},

	computed: {

		updateFileRequiredFields() {
			return this.$store.getters['departments/getUpdateFileRequiredFields']
		}
	}
};
</script>

<style scoped>
.modal-mask {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 600px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
</style>