<template>
	<div class="bgwhite h-full" style="zoom: .9">
		<div class="p-l-20 p-r-20 p-t-30 p-b-50">
			<div class="mb-2 p-3 card ">
				<h6><b>DEPARTMENT NAME:</b>&nbsp; {{form.name}},&nbsp;&nbsp; <b>ID NUMBER:</b> &nbsp;{{form.id_number}}</h6>
			</div>

			<vue-good-table v-if="rows && rows.length > -1"
				:columns="columns"
				:rows="rows"

				:pagination-options="{
				enabled: true
			}"
			:search-options="{
			enabled: true
		}"
		>

		<template slot="table-row" slot-scope="props">

			<span v-if="props.column.field == 'file_info'">
				<div class="mb-1 mt-2"><b>FILE NAME:</b> {{props.row.name}}</div>
				<div class="mb-1"><b>FILE TYPE:</b> {{props.row.type}}</div>

				<div class="mb-1"><b>SIZE:</b>
					{{formatSize(props.row.size)}}
				</div>

				<div class="mb-3"><b>CREATED AT:</b>
					{{formatCreatedAt(props.row.created_at)}}
				</div>


				<div class="mb-4">
					<ul class="list-group d-flex flex-column"> 
						
						<li class="list-group-item mx-1">
							<button
							type="button" 
							@click="updateFile(props.row.name)"
							title="Update File"
							class="btn social-btn btn-inverse-secondary w-100">
							<i class="fa  fa-pencil-square-o text-dark">
								
							</i>
						</button>
					</li>

					<li class="list-group-item mx-1">
						<button type="button" 
						title="Get barcode"
						@click="viewBarcode(props.row.name, props.row.created_at)"
						class="btn social-btn btn-inverse-secondary w-100">
						<i class="fa  fa-barcode text-dark"></i>
					</button>
				</li>

				<li class="list-group-item mx-1">
					<button type="button" 
					title="View file"
					@click="viewFile(props.row.url)"
					class="btn social-btn btn-inverse-secondary w-100">
					<i class="fa fa-file-pdf-o text-dark"></i>
				</button>
			</li>

			<li class="list-group-item mx-1">
				<button type="button" 
				title="Send file"
				@click="sendFile(props.row.name, props.row.url)"
				class="btn social-btn btn-inverse-secondary w-100">
				<i class="fa  fa-paper-plane text-dark"></i>
			</button>
		</li>

	</ul>
</div>
</span>



<span v-else-if="props.column.field == 'actions'">
	<ul class="list-group d-flex flex-row"> 

		<li class="list-group-item mx-1">
			<button type="button" @click="updateFile(props.row.name)"
			title="Update File"
			class="btn social-btn btn-inverse-secondary">
			<i class="fa  fa-pencil-square-o text-dark"></i>
		</button>
	</li>

	<li class="list-group-item mx-1">
		<button type="button" 
		title="Get barcode"
		@click="viewBarcode(props.row.name, props.row.created_at)"
		class="btn social-btn btn-inverse-secondary">
		<i class="fa  fa-barcode text-dark"></i>
	</button>
</li>

<li class="list-group-item mx-1">
	<button type="button" 
	title="View file"
	@click="viewFile(props.row.url)"
	class="btn social-btn btn-inverse-secondary">
	<i class="fa fa-file-pdf-o text-dark"></i>
</button>
</li>

<li class="list-group-item mx-1">
	<button type="button" 
	title="Send file"
	@click="sendFile(props.row.name, props.row.url)"
	class="btn social-btn btn-inverse-secondary">
	<i class="fa  fa-paper-plane text-dark"></i>
</button>
</li>


</ul>
</span>


<span v-else-if="props.column.field == 'remove'">
	<ul class="list-group d-flex flex-row"> 

		<li class="list-group-item mx-1">
			<button type="button" @click="removeFile(props.row.name)" title="Remove file"
			class="btn social-btn btn-inverse-secondary">
			<i class="fa fa-trash-o text-dark"></i>
		</button>
	</li>
</ul>
</span>
</template>

</vue-good-table>

<template v-else>
	<Skeleton height="400px" width="100%"/>
</template>


<div class="custom-row m-t-20">
	<div class="custom-column-12">
		<a @click="addFile" class="red-button">Add File</a>
	</div>
</div>

</div>

<UpdateFile ref="updateModal" v-if="showModal" @close="showModal = false"/>
<BarcodeGenerator v-if="showBarcodeGenerator" @close="showBarcodeGenerator = false"/> 
<SendFile ref="sendFile" v-if="showSendFile" @close="showSendFile = false"/> 

</div>
</template>

<script>
import SendFile from '@/views/components/SendFile'
import UpdateFile from './UpdateFile'
import Skeleton from '@/views/components/Skeleton'
import BarcodeGenerator from '@/views/components/BarcodeGenerator'
import extColumns from './filesColumns.js'

export default {
	components: {Skeleton, UpdateFile, BarcodeGenerator, SendFile},

	data() {
		return {
			windowWidth: window.innerWidth,
			isMobile: false,
			showModal: false,
			showBarcodeGenerator: false,
			showSendFile: false,
			form: {
				name: '',
				id_number: null,
			},
		}
	},

	async created() {
		await this.fetchDepartmentInfo();
		await this.performfetchData();
		return await true;
	},

	computed: {

		rows() {
			return this.$store.getters['departments/getFiles'];
		},

		columns()  {
			if(!this.isMobile) {
				return extColumns.desktop;
			} else {
				return extColumns.mobile;
			}
		}
	},

	methods: {
		async fetchDepartmentInfo() {
			await this.$store.dispatch('departments/getDepartmentInfo', {id:this.$route.params.id}).then(res => {
				this.form = { ...res}
			});
			return await true;
		},

		performfetchData() {
			return this.$store.dispatch('departments/viewFiles', {
				id_number: this.form.id_number, 
			});
		},


		removeFile(name) {

			vm.swalRemove().then(res => {
				if(res) {
					this.$store.dispatch('departments/removeFile', {
						name,
						id_number: this.form.id_number
					}).then(res => {
						if(res) {
							this.performfetchData();	
							vm.swalSuccessMessage('file successfully removed');
						}
					})		
				}
			});		
		},

		addFile(id) {
			this.$router.push({
				name: 'Add File',
				params: {
					id: this.$route.params.id
				}
			});
		},

		updateFile(name) {
			this.$store.commit('departments/setUpdateFileRequiredFields', {
				file_name: name,
				id_number: this.form.id_number
			});
			setTimeout(() => {
				this.showModal = true;
			}, 500)			
		},

		viewBarcode(name, uploaded_at) {

			this.$store.commit('departments/setUpdateFileRequiredFields', {
				uploaded_at: this.formatCreatedAt(uploaded_at),
				file_name: name,
				owner:this.form.name,
			});

			setTimeout(() => {
				this.showBarcodeGenerator = true;
			}, 500)	
		},

		formatCreatedAt(value)  {
			if(value !== null) {
				let newDate =  new Date(value);
				return moment(newDate).format('MMMM Do YYYY, h:mm:ss a');
			}
			return value;
		},

		formatSize(value) {
			return vm.formatAsThousands(value) + ' kb';
		},

		formatCreatedAt(value) {

			if(value !== null) {
				let newDate =  new Date(value);
				return moment(newDate).format('MMMM Do YYYY, h:mm:ss a');
			}
			return value;
		},

		viewFile(url) {
			window.open(url);
		},

		sendFile(name, url) {

			this.$store.commit('departments/setUpdateFileRequiredFields', {
				file_name: name,
				id_number: this.form.id_number,
				department_name:this.form.name,
				url
			});


			setTimeout(() => {
				this.showSendFile = true;
			}, 500)	
		},

		onResize() {
			this.windowWidth = window.innerWidth
		}

	},

	mounted() {
		if(window.innerWidth > 600) {
			this.isMobile = false;
		} else {
			this.isMobile = true;
		}

		this.$nextTick(() => {
			window.addEventListener('resize', this.onResize);
		})
	},

	beforeDestroy() { 
		window.removeEventListener('resize', this.onResize); 
	},

	watch: {
		windowWidth(value) {
			if(+value > 600) {
				return this.isMobile = false;
			} else {
				return this.isMobile = true;
			} 

		}
	}
};
</script>
