.custom-row {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.custom-column-12 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.custom-column-6 {
	position: relative;
	width: 60%;
	padding-right: 15px;
	padding-left: 15px;
}



.custom-container {
	width: 80%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

// medium
@media (min-width: 992px) {
	
}


// large
@media (min-width: 1200px) {

	
}


// sm
@media only screen and (max-width: 600px) {
	

	.custom-container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

}

.custom-mx-auto{
	margin-left: auto!important;
}
.custom-mx-auto{
	margin-right: auto!important;
}

header a {
	color: #f2f2f2 ;
	text-decoration: none;
	background-color: transparent;
}

header a:hover {
	color: #e6e6e6;
}


.custom-nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

ol, ul {
	margin: 0px;
	padding: 0px;
}

.custom-nav-tabs {
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	color: #7E7E7F;
    // padding: 15px 25px;
    border: none;
}
.main-color{
	color: #cc2b19 !important;

}

.custom-nav-tabs>li>a:hover {
	border-color: #eee #eee #ddd;
}
.custom-nav>li>a:focus, .custom-nav>li>a:hover {
	text-decoration: none;
	background-color: #eee;
}

.custom-nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.custom-nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.custom-nav a i {
	font-size: 18px;
	margin-right: 3px;
	position: relative;
	top: 2px;
}


.custom-nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}
.custom-nav>li {
	position: relative;
	display: block;
}

.custom-nav-tabs>li.active>a, .custom-nav-tabs>li.active>a:focus, .custom-nav-tabs>li.active>a:hover {
	border: 0px solid #ddd;
	border: none;
}

.custom-nav-tabs>li.active>a, .custom-nav-tabs>li.active>a:focus, .custom-nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

ul.custom-nav-tabs li a {
	font-size: 15px;
	color: #333;
	padding: 15px 25px;
	border: none;
	cursor: pointer;
}

ul.custom-nav-tabs li i{
	color: #7E7E7F;
}
.custom-nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.custom-nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.custom-nav-tabs>li.active>a, .custom-nav-tabs>li.active>a:focus, .custom-nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}


.red-button {
	cursor: pointer;
	min-width: 120px;
	background: #E64533 !important;
	font-size: 0.875rem;
	line-height: 1;
	font-family: "roboto", sans-serif;
	color: #fff !important;
	font-weight: 100 !important;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.4rem 1rem;
	font-size: 0.875rem;
	line-height: 1;
	border-radius: 0.1875rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


.red-button:hover{
	text-decoration: none;
	background: #cc2b19 !important;
}

.custom-input {
	display: inline-block;
	border: 1px solid #dee2e6;
	font-family: "roboto", sans-serif;
	font-size: 0.75rem;
	color: #212529;
	padding: 0 .75rem;
	line-height: 14px;
	font-weight: 300;
	box-shadow: none;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 2px;
}

.form-group .file-upload-default {
	visibility: hidden;
	position: absolute; 
}

.form-group .file-upload-info {
	background: transparent; 
}

.capitalize-text {
	text-transform: capitalize;
}


.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #cc2b19 !important; 
}