<template>
	<div class="bgwhite h-full" style="zoom: .9; min-height: 600px;">
		<div class="p-l-20 p-r-20 p-t-30 p-b-50">
			<div class="mb-2 p-3 card ">
				<h6><b>DEPARTMENT NAME:</b>&nbsp; {{form.name}},&nbsp;&nbsp; <b>ID NUMBER:</b> &nbsp;{{form.id_number}}</h6>
			</div>

			<vue-good-table v-if="rows.length > 0"
				:columns="columns"
				:rows="rows"


				:pagination-options="{
				enabled: true,
			}"
			:search-options="{
			enabled: true
		}"
		>
				<!-- @on-per-page-change="onPerPageChange"
				@on-page-change="onPageChange"
				@on-cell-click="onRowClick"
				@on-sort-change="onSortChange" -->

				<template slot="table-row" slot-scope="props">

					<span v-if="props.column.field == 'log_info'">
						<div class="mb-1 mt-2"><b>ID:</b> <a href="Javascript:void(0)"
							@click="viewFile(props.row.url || null)"
							>{{props.row.id}}</a></div>

							<div class="mb-1"><b>NAME:</b> {{props.row.file_name}}</div>
							<div class="mb-1"><b>ACTIVITY:</b> {{props.row.activity}}</div>
							<div class="mb-1"><b>TRANSACTED AT:</b> {{props.row.created_at}}</div>

							<div class="mb-1"><b>MESSAGE:</b> {{props.row.file_name}}</div>
							<div class="mb-1"><b>RECEIVER ID:</b> {{props.row.receiver}}</div>
							<div class="mb-3"><b>SENDER ID:</b> {{props.row.sender}}</div>

							<div class="mb-4">
								<ul class="list-group d-flex flex-column"> 
									<li 
									v-if="deptId == props.row.receiver"
									class="list-group-item mx-1">
									<button type="button" title="Get Barcode"  class="btn social-btn btn-inverse-secondary w-100"
									@click="viewBarcode(
									props.row.file_name,
									props.row.sender,
									props.row.receiver,
									props.row.created_at,
									props.row.url
									)"
									>
									<i class="fa fa-barcode text-dark"></i>
								</button>
							</li>

							<li 
							v-if="deptId == props.row.receiver"
							class="list-group-item mx-1">
							<button type="button" title="Copy file"  class="btn social-btn btn-inverse-secondary w-100"
							@click="acceptFile(props.row.file_name, props.row.url)"
							>
							<i class="fa  fa-hand-o-up text-dark"></i>
						</button>
					</li>

					<li class="list-group-item mx-1" v-else>
						<button type="button" 
						title="View file"
						@click="viewFile(props.row.url)"
						class="btn social-btn btn-inverse-secondary w-100">
						<i class="fa fa-file-pdf-o text-dark"></i>
					</button>
				</li>
			</ul>
		</div>
	</span>

	<span v-else-if="props.column.field == 'id'">
		<a href="Javascript:void(0)"
		@click="viewFile(props.row.url || null)"
		>{{props.row.id}}</a>
	</span>


	<span v-else-if="props.column.field == 'actions'">
		<ul class="list-group d-flex flex-row"> 
			<li 
			v-if="deptId == props.row.receiver"
			class="list-group-item mx-1">
			<button type="button" title="Get Barcode"  class="btn social-btn btn-inverse-secondary"
			@click="viewBarcode(
			props.row.file_name,
			props.row.sender,
			props.row.receiver,
			props.row.created_at,
			props.row.url
			)"
			>
			<i class="fa fa-barcode text-dark"></i>
		</button>
	</li>

	<li 
	v-if="deptId == props.row.receiver"
	class="list-group-item mx-1">
	<button type="button" title="Copy file"  class="btn social-btn btn-inverse-secondary"
	@click="acceptFile(props.row.file_name, props.row.url)"
	>
	<i class="fa  fa-hand-o-up text-dark"></i>
</button>
</li>

<li class="list-group-item mx-1" v-else>
	<button type="button" 
	title="View file"
	@click="viewFile(props.row.url)"
	class="btn social-btn btn-inverse-secondary">
	<i class="fa fa-file-pdf-o text-dark"></i>
</button>
</li>
</ul>
</span>

</template>

</vue-good-table>

<template v-else>
	<h6 class="text-center">No item available</h6>
</template>


</div>

<BarcodeGenerator v-if="showBarcodeGenerator" @close="showBarcodeGenerator = false"/> 

<ProgressBar v-if="showProgressBar" progressBarGetters="departments/getProgressBarPercent"/>
</div>

</template>

<script>

import BarcodeGenerator from '@/views/components/BarcodeGenerator'
import ProgressBar from '@/views/components/ProgressBar'
import Skeleton from '@/views/components/Skeleton'
import extColumns from './staffLogColumns.js'

export default {
	components: {Skeleton, BarcodeGenerator,ProgressBar},

	data() {
		return {
			showProgressBar: false,

			form: {
				name: '',
				id_number: null,
			},

			windowWidth: window.innerWidth,

			isMobile: false,

			showBarcodeGenerator: false,
			
		}
	},

	created() {
		this.performfetchData()
		this.fetchDepartmentInfo();
	},

	methods: {
		async fetchDepartmentInfo() {
			await this.$store.dispatch('departments/getDepartmentInfo', {id:this.$route.params.id}).then(res => {
				this.form = { ...res}
			});
			return await true;
		},


		performfetchData() {
			let dept = localStorage.getItem("id_number"); 
			this.$store.dispatch('logs/getDepartmentLogs',{id: dept});
		},

		viewFile(url) {
			window.open(url);
		},

		viewBarcode(file_name, sender,receiver, created_at, url) {
			this.$store.commit('departments/setUpdateFileRequiredFields', {
				file_name,
				sender,
				receiver,
				created_at,
				url
			});
			
			setTimeout(() => {
				this.showBarcodeGenerator = true;
			}, 500)	
		},

		acceptFile(name, url) {

			vm.swal('Do you want to proceed? this will be added to your department files.').then(res => {
				if(res) {
					this.showProgressBar = true
					this.$store.dispatch('departments/acceptFile', {
						id_number: localStorage.getItem('id_number'), 
						url: url,
						file_name: name

					}).then(res => {
						if(res) {
							vm.swalSuccessMessage()
						}
						this.showProgressBar = false
						setTimeout(() => {
							this.disabled = false
						}, 2000)
					})
				}
			})			

		},
		onResize() {
			this.windowWidth = window.innerWidth
		}


	},

	computed: {

		rows() {
			let data = this.$store.getters['logs/getDepartmentLogs'];
			if(data == null) {
				return [];
			}
			return data;
		},

		deptId() {
			let dept = localStorage.getItem("id_number"); 
			return dept;
		},

		columns()  {

			if(!this.isMobile) {
				return extColumns.desktop;
			} else {
				return extColumns.mobile;
			}

		}


	},

	mounted() {

		if(window.innerWidth > 600) {
			this.isMobile = false;
		} else {
			this.isMobile = true;
		}

		this.$nextTick(() => {
			window.addEventListener('resize', this.onResize);
		})
	},
	beforeDestroy() { 
		window.removeEventListener('resize', this.onResize); 
	},


	watch: {
		windowWidth(value) {
			if(+value > 600) {
				return this.isMobile = false;
			} else {
				return this.isMobile = true;
			} 

		}
	}


};
</script>