<template>
	<div class="bgwhite h-full" style="zoom: .9; min-height: 600px;">
		<div class="p-l-20 p-r-20 p-t-30 p-b-50">

			<vue-good-table v-if="rows.length > 0"
				:columns="columns"
				:rows="rows"

				:pagination-options="{
				enabled: true,
			}"
			:search-options="{
			enabled: true
		}"
		>

		<template slot="table-row" slot-scope="props">

			<span v-if="props.column.field == 'log_info'">
				<div class="mb-1 mt-2"><b>ID:</b>
					<a href="Javascript:void(0)"
					@click="viewFile(props.row.url || null)"
					>{{props.row.id}}</a>
				</div>
				<div class="mb-1"><b>FILE NAME:</b> {{props.row.file_name}}</div>
				<div class="mb-1"><b>ACTIVITY:</b> {{props.row.activity}}</div>
				<div class="mb-1"><b>TRANSACTED AT:</b> {{props.row.created_at}}</div>

				<div class="mb-1"><b>MESSAGE:</b> {{props.row.file_name}}</div>
				<div class="mb-1" v-if="props.row.receiver"><b>RECEIVER ID:</b> {{props.row.receiver}}</div>
				<div class="mb-3" v-if="props.row.sender"><b>SENDER ID:</b> {{props.row.sender}}</div>

				<div class="mb-4">
					<ul class="list-group d-flex flex-column" v-if="props.row.url"> 
						<li class="list-group-item mx-1">
							<button type="button" 
							title="View file"
							@click="viewFile(props.row.url)"
							class="btn social-btn btn-inverse-secondary w-100">
							<i class="fa fa-file-pdf-o text-dark"></i>
						</button>
					</li>

				</ul>
			</div>
		</span>

		<span v-else-if="props.column.field == 'id'">
			<a href="Javascript:void(0)"
			@click="viewFile(props.row.url || null)"
			>{{props.row.id}}</a>
		</span>


		<span v-else-if="props.column.field == 'actions'">
			<ul class="list-group d-flex flex-row"> 
				<li class="list-group-item mx-1"  v-if="props.row.url" >
					<button type="button" 
					title="View file"
					@click="viewFile(props.row.url)"
					class="btn social-btn btn-inverse-secondary">
					<i class="fa fa-file-pdf-o text-dark"></i>
				</button>
			</li>

			<!-- <li class="list-group-item mx-1"  v-if="props.row.qr" >
					<button type="button" 
					title="View file"
					@click="viewFileQr(props.row.qr)"
					class="btn social-btn btn-inverse-secondary">
					<i class="fa fa-file-pdf-o text-dark"></i>
				</button>
			</li> -->


		</ul>
	</span>

</template>

</vue-good-table>

<template v-else>
	<h6 class="text-center">No item available</h6>
</template>

</div>

<BarcodeGenerator v-if="showBarcodeGenerator" @close="showBarcodeGenerator = false"/> 

</div>

</template>

<script>

import BarcodeGenerator from '@/views/components/BarcodeGenerator'
import Skeleton from '@/views/components/Skeleton'
import extColumns from './adminLogColumns.js'

export default {
	components: {Skeleton, BarcodeGenerator},

	data() {
		return {
			windowWidth: window.innerWidth,
			isMobile: false,
			showBarcodeGenerator: false,
		}
	},

	created() {
		this.performfetchData()
	},

	methods: {

		logoutUser() {
			this.$store.dispatch('auth/logoutUser');
		},

		performfetchData() {
			this.$store.dispatch('logs/getAllLogs');
		},

		
		viewFile(url) {
			if(url == null) return;
			window.open(url);
		},

		onResize() {
			this.windowWidth = window.innerWidth
		},

		viewFileQr(qr) {
			this.$store.dispatch('global/downloadFileAdmin', {qr})
			.then(res => {
				window.open(res);
			})
		}


	},

	computed: {

		rows() {
			let data = this.$store.getters['logs/getAllLogs'];
			if(data == null) {
				return [];
			}
			return data;
		},

		columns()  {
			if(!this.isMobile) {
				return extColumns.desktop;
			} else {
				return extColumns.mobile;
			}
		}
	},

	mounted() {
		if(window.innerWidth > 600) {
			this.isMobile = false;
		} else {
			this.isMobile = true;
		}

		this.$nextTick(() => {
			window.addEventListener('resize', this.onResize);
		})
	},

	beforeDestroy() { 
		window.removeEventListener('resize', this.onResize); 
	},

	watch: {
		windowWidth(value) {
			if(+value > 600) {
				return this.isMobile = false;
			} else {
				return this.isMobile = true;
			} 

		}
	}

};
</script>