<template>
	<div class="custom-row">
		<div class="custom-column-12">
			<nav class="m-t-25">
				<div class="custom-container">
					<ul class="w-full custom-nav custom-nav-tabs">
						
						<li v-for="item in navs" 
						:class="[item.route == activeNav ? 'active' : '']"> 
						<a  @click.prevent="moveRoute(item.route)">
							<i class="item.fontAwesomeClass"></i>
							{{item.title}}
						</a>
					</li>
				</ul>	
			</div>		
		</nav>
	</div>
</div>
</template>

<script>
export default {
	data() {
		return {
			activeNav: 'departments',
			navs: [
			{
				title: 'departments',
				route: 'departments',
				fontAwesomeClass: 'fa-backward'

			},
			{
				title: 'Accounts',
				route: 'accounts',
				fontAwesomeClass: 'fa fa-user'

			}

			]

		}	

	},

	methods: {
		moveRoute(route) {
			this.activeNav = route;

			if('/'+route !== this.$route.path) {
			this.$router.push({path: `/${route}`})
			}
		}
	}

};
</script>	

