<template>
	<div class="bgwhite h-full">
		<div class="p-l-20 p-r-20 p-t-20 p-b-50">

			<form class="p-t-20" @submit.prevent="submitData">
				<div class="row">
					<div class="col-lg-4 card p-4 custom-mx-auto">

						<div class="form-group">
							<label>Name</label>
							<input @blur="formatName" type="text" v-model="form.name" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input  type="email" v-model="form.email" class="form-control" required>
						</div>

						<div class="form-group">
							<label>Password</label>
							<input type="password" v-model="form.password" class="form-control" min="6">
						</div>

						<div class="row" v-if="form.admin == 'false' || form.admin == false">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Department</label>
									<select class="form-control" disabled v-model="form.department" required>

										<template v-for="(item,index) in rows">
											<option :value="item.id_number" :Key="index">{{item.name}}</option>

										</template>

									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Role</label>
									<select class="form-control" v-model="form.admin" required>
										<option value="false">Staff</option>
										<option value="true">Admin</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="m-t-10 pull-right">
									<router-link to="/accounts" class="btn btn-light custom-btn-default  mr-2" >Cancel</router-link>
									<button type="submit" class="btn custom-btn-red btn-danger" :disabled="disabled">Update</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				
			</form>
		</div>
	</div>
</template>

<script>

export default {
	components: {},
	data() {
		return {
			disabled: false,
			form: {
				name: '',
				email: '',
				password: '',
				department: '',
				admin: null,
			}
		}
	},

	methods: {
		async submitData() {
			this.disabled = true;
			await this.$store.dispatch('accounts/updateAccount', this.form)
			.then(res => {
				vm.swalSuccessMessage('Data has been updated');
				this.fetchAccountInfo();
			})
			.catch(err => {
				alert(JSON.stringify(err))
			})
			await setTimeout(() => {
				this.disabled = false
			}, 1000)
			return await true;
		},

		formatName() {
			return this.form.name = this.titleCase(this.form.name);
		},

		titleCase(str) {
			var splitStr = str.toLowerCase().split(' ');
			for (var i = 0; i < splitStr.length; i++) {

				splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
			}
			return splitStr.join(' '); 
		},

		async fetchAccountInfo() {
			this.disabled = true;
			await this.$store.dispatch('accounts/getAccountInfo', {id:this.$route.params.id}).then(res => {
				this.form = {...this.form, ...res}

			});
			await setTimeout(() => {
				this.disabled = false
			}, 1000)
			return await true;
		},
		getDepartmentNames(nextPrev) {
			this.$store.dispatch('departments/getDepartments');
		},

	},

	created() {
		this.fetchAccountInfo();
		this.getDepartmentNames();
	},

	computed: {
		rows() {
			return this.$store.getters['departments/getDepartments'];
		},
	}

};
</script>