<template>
	<div class="bgwhite h-full" style="zoom: .9">
		<div class="p-l-20 p-r-20 p-t-30 p-b-50">
			<vue-good-table v-if="rows && rows.length > -1"
				:columns="columns"
				:rows="rows"
				@on-per-page-change="onPerPageChange"
				@on-page-change="onPageChange"
				@on-cell-click="onRowClick"
				@on-sort-change="onSortChange"
				:pagination-options="{
				enabled: true
			}"
			:search-options="{
			enabled: true
		}"
		>
		<template slot="table-row" slot-scope="props">
			<span v-if="props.column.field == 'remove'">
				<ul class="list-group d-flex flex-row">
					<li class="list-group-item mx-1">
						<button type="button"
						@click="deleteRow(props.row.id)"
						title="remove row" 
						class="btn social-btn btn-inverse-secondary">
						<i class="fa fa-trash-o text-dark"></i>
					</button>
				</li>
			</ul>
		</span>
		<span v-else-if="props.column.field == 'edit'">
			<ul class="list-group d-flex flex-row">
				<li class="list-group-item mx-1">
					<button type="button" 
					@click="editRow(props.row.id)"
					title="Edit row"   class="btn social-btn btn-inverse-secondary">
					<i class="fa fa-pencil-square-o  text-dark"></i>
				</button>
			</li>
		</ul>
	</span>

<!-- 	<span v-else-if="props.column.field == 'role'">
			
	</span>
 -->
</template>
</vue-good-table>

<template v-else>
	<Skeleton height="400px" width="100%"/>
</template>

<div class="custom-row m-t-20">
	<div class="custom-column-12">
		<router-link to="/accounts/create" class="red-button">Add Account</router-link>
	</div>
</div>

</div>

</div>
</template>
<script>
import Skeleton from '@/views/components/Skeleton'

export default {
	components: {Skeleton},
	data() {
		return {
			columns: [
			{
				field: 'name',
				label: 'NAME',
			}, {
				field: 'email',
				label: 'ACCOUNT',
			},{
				field: 'department',
				label: 'Department',

			},{
				field: 'admin',
				label: 'ROLE',
				tdClass: 'text-uppercase font-weight-bold',
				formatFn: (value) => value ? 'ADMIN' : 'STAFF' ,

			},{
				field: 'created_at',
				label: 'CREATED AT',
				formatFn: (value) =>  moment(new Date(value)).format('LLL'),

			},{
				field: 'edit',
				label: 'EDIT',
			},{
				field: 'remove',
				label: 'REMOVE',
			}
			],
		}
		
	},
	created() {
		this.performfetchData();
	},
	methods: {

		performfetchData(nextPrev) {
			this.$store.dispatch('accounts/getAccounts');
		},
		filterSearch(v) {
			this.performfetchData();
		},
		onPageChange(v) {
			// this.performfetchData(`&page=${v.currentPage}`);
		},
		onSortChange(v) {
			// this.isLoading = false;
		},
		onPerPageChange(v){
			// console.log(v.currentPerPage)
		},
		onRowClick(v) {
			if (v.column.field != ["edit"] && v.column.field != ["remove"]) {
				this.$router.push({
					name: 'Show Account Information',
					params: {
						id: v.row.id
					}
				});
			}
		},

		deleteRow(id) {
			vm.swalRemove().then(res => {
				if(res) {
					this.$store.dispatch('accounts/removeAccount', {id})
					.then(res => {
						vm.swalSuccessMessage('User deleted successfully');
						this.performfetchData();
					});
				}
			});
		},

		editRow(id) {
			this.$router.push({
				name: 'Edit Account Information',
				params: {
					id
				}
			});
		},

	},
	computed: {
		rows() {
			return this.$store.getters['accounts/getAccounts'];
		},
		pagination() {
			return {
				per_page: 1,
				currentPage: 1,
				total: 10
			}
		}
		
	}
};
</script>