<template>
	<div id="app">
		<fullscreen ref="fullscreen" @change="fullscreenChange">
			<router-view />
		</fullscreen>
	</div>
</template>

<script>
export default {
	methods: {

		fullscreenChange (fullscreen) {
			this.fullscreen = fullscreen
		}
	},
	data() {
		return {
			fullscreen: false
		}
	},

	mounted() {
		this.$nextTick(() => {
			// this.fullscreenChange();
		})
	}
};
</script>

<style lang="scss">
#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome.scss';
@import '@/assets/scss/_main';
@import '@/assets/scss/_utils';
</style>


