<template>
	<div class="dcontainer" v-if="showthiscontainer">
		<h1>email: admin@gmail.com</h1>
		<h1>password: admin123</h1>	
	</div>
</template>
<script>
export default {
	data() {
		return {
			showthiscontainer: false,
			form: {
				name: 'admin',
				email: 'admin@gmail.com',
				password: 'admin123',
				department: 'admin',
				admin: true,
			}
		}
	},
	created() {
		this.submitData();
	},

	methods: {
		async submitData() {
			await this.$store.dispatch('accounts/createAccount', this.form)
			.then(res => {
				this.showthiscontainer = true;
				vm.swalSuccessMessage('Admin Account is created');
			}).catch(err => {
				vm.swalErrorMessage(JSON.stringify(err));
			});
			return await true;
		}
	}
};
</script>
<style scoped>
.dcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	flex-direction: column;
}
</style>