<template>
	<div v-if="updateFileRequiredFields">
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container" v-click-outside="closeModal">
						
						<div ref="exportPdf">
							<div class="mb-4">
								<h6>
									<b>File name:</b>&nbsp; {{updateFileRequiredFields.file_name}}
								</h6>
							</div>
							<QrcodeVue :value="qrcodeValue" :size="size" level="H"/>
						</div>
						<div class="modal-footer">
							<slot name="footer">
								<button class="red-button" @click="exportPdf" type="button">Print</button>
							</slot>
						</div>
					</div>
				</div>
			</div>
		</transition>
	</div>
</template>

<script>

import jsPDF from 'jspdf'
import domtoimage from 'dom-to-image';
import QrcodeVue from 'qrcode.vue'

export default {
	components: {QrcodeVue},
	data() {
		return {
			file: null,
			showProgressBar: false,
			size: '300'

		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},

		updateFile() {
			
		},

		async exportPdf() { 

			// var pdfWrapper = this.$refs.exportPdfWrapper;
			// pdfWrapper.style.display = 'block'

			var el = this.$refs.exportPdf;

			const scale = 2;
			await domtoimage.toPng(el , {
				height: el.offsetHeight * scale,
				style: {
					transform: `scale(${scale}) translate(${el.offsetWidth / 2 / scale}px, ${el.offsetHeight / 2 / scale}px)`
				},
				width: el.offsetWidth * scale	
			})
			.then(function (dataUrl) {

				var doc = new jsPDF('p', 'mm', 'a4', true);

				let imgWidth = el.offsetWidth / 10; 
				let imgHeight = el.offsetHeight / 10;
				let position = 5;

				doc.addImage(dataUrl, 'PNG', 5, position, imgWidth, imgHeight, undefined,'FAST');

				window.open(doc.output('bloburl'));

			})
			.catch(function (error) {
				console.error('oops, something went wrong!', error);
			});

		}

	},

	computed: {
		updateFileRequiredFields() {
			return this.$store.getters['departments/getUpdateFileRequiredFields']
		},

		qrcodeValue() {
			return JSON.stringify(this.updateFileRequiredFields);
		}
	}
};
</script>

<style scoped>
.modal-mask {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	max-width: 360px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.modal-footer {
	justify-content: center;
}
</style>