<template>
	<ul v-if="breadcrumbs" class="cc-breadcrumb pull-right">

		<template  v-if="breadcrumbs.route_to != '' && breadcrumbs.route_from != ''">

			<li>
				<router-link :to="breadcrumbs.redirect_to">{{breadcrumbs.route_from}}</router-link>
			</li>
			<li>
				{{breadcrumbs.route_to}}
			</li>

		</template>

	</ul>
</template>

<script>
export default {
	data() {
		return {
			
		}
	},
	computed: {
		breadcrumbs() {
			return this.$store.getters['global/getBreadcrumbs']
		}
	},
	
};
</script>

<style scoped>
ul.cc-breadcrumb {
	padding: 10px 16px;
	list-style: none;
}

/* Display list items side by side */
ul.cc-breadcrumb li {
	display: inline;
	font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.cc-breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.cc-breadcrumb li a {
	color: #171616;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.cc-breadcrumb li a:hover {
	color: #404040;
	text-decoration: underline;
}

</style>