<template>
	<div class="row px-2" style="zoom: .9">
		<div class="custom-column-12">
			<div class="row">
				<div class="col-lg-6"><h2>{{containerTitle}}</h2></div>
				<div class="col-lg-6"><Breadcrumb/></div>
			</div>
		</div>
		<hr>
	</div>
</template>

<script>
import Breadcrumb from '@/views/components/Breadcrumb'

	export default {
		components: {Breadcrumb},
		
		computed: {
			containerTitle() {
				return this.$route.name.toUpperCase()
			}
		}
	};
</script>