<template>
	<div style="overflow: auto; max-height: 600px;">
		<template v-if="notificationsTotal > 0">
			<div class="list-group">
				<template v-for="(item,index) in rows">
					<a href="Javascript:void(0)"
					@click="removeRow(item.id)"
					class="list-group-item list-group-item-action">
				{{item.message}}</a>
			</template>
		</div>
	</template>
</div>
</template>

<script>
export default {
	methods: {
		onRowClick(v) {

		},
		removeRow(id) {
			this.$store.dispatch('global/removeNoti', {id}).then(() => {
				this.$store.dispatch('global/getNotifications', {});
				this.$store.dispatch('global/getNotificationsCount', {});
			});
		}
	},

	computed: {
		rows() {
			return this.$store.getters['global/getNotifications'];
		},
		columns() {
			return [{
				field: 'message',
				label: 'NOTIFICATION MESSAGE'
			}]
		},

		notificationsTotal() {
			return  this.$store.getters['global/getNotificationsCount'];
		}
	},

	mounted() {
		this.$store.dispatch('global/getNotifications', {});
	}
};
</script>