<template>
    <div v-show="!onLine">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-inside">
                      <div class="wifi-signal">
                          <div class="wifi loading"></div>
                      </div>
                  </div>
              </div>
          </div>
      </transition>
  </div>
</template>
<script>

export default {
    data() {
        return {
           onLine: navigator.onLine,
           showBackOnline: false
       }
   },
   methods: {
    updateOnlineStatus(e) {
        const {
            type
        } = e;
        this.onLine = type === 'online';
    }
},
watch: {
    onLine(v) {
        if (v) {
            this.showBackOnline = true;
            setTimeout(() => {
                this.showBackOnline = false;
            }, 1000);
        }
    }
},
mounted() {
    window.addEventListener('online', this.updateOnlineStatus);
    window.addEventListener('offline', this.updateOnlineStatus);
},
beforeDestroy() {
    window.removeEventListener('online', this.updateOnlineStatus);
    window.removeEventListener('offline', this.updateOnlineStatus);
}


};
</script>

<style scoped>
.modal-inside {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

</style>

<style lang="scss" scoped>

@import '@/views/assets/scss/widthHeightConverter';

@mixin getWifi($size) {
$anim: 1.5s linear infinite;
$border-width: $size/2.35;
$line-color: #E64533;
$line-color-weak: rgba($line-color, 0.4);
$trans: 0.3s linear;

box-sizing: border-box;
background-color: transparent;
border: $size/2 solid transparent;
border-top-color: $line-color;
border-radius: $size / 2;
height: $size;
position: relative;
transition: border-top-color $trans;
width: $size;

&:before,
  &:after {
  content: '';
  box-sizing: border-box;
  background-color: transparent;
  border: $border-width/1.2 solid transparent;
  border-top-color: $line-color;
  position: absolute;
  transition: border-top-color $trans;
}

&:before {
    border-radius: $size;
    height: $size*2;
    left: -$size;
    top: -$size;
    width: $size*2;
}

&:after {
    border-radius: $size*3;
    height: $size*3;
    left: -$size*1.5;
    top: -$size*1.5;
    width: $size*3;
}

&.loading {
    animation: blink-1 $anim;
    
    &:before {
    animation: blink-2 $anim;
}

&:after {
  animation: blink-3 $anim;
}
}

&.medium:not(.loading) {
    &:after {
    border-top-color: $line-color-weak;
}
}

@at-root {
@keyframes blink-1 {
0% {
border-top-color: $line-color-weak;
}

50%,
100% {
border-top-color: $line-color;
}
}

@keyframes blink-2 {
0%,
100% {
border-top-color: $line-color;
}

50% {
border-top-color: $line-color-weak;
}
}

@keyframes blink-3 {
0%,
50% {
border-top-color: $line-color;
}

100% {
border-top-color: $line-color-weak;
}
}
}
}

.wifi {
    // $defaultWidth : convert(1, 'px');

    @include getWifi(100px);
    // transform: translate(-25%);
}

</style>