<template>
  <div class="pagination-container">
   <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" :style="'width:'+barPercent "></div>
    <div class="progress-bar-title">{{barPercent}}</div>
  </div>
</div>
</template>
<script>
export default {
  props: ['progressBarGetters'],

  data() {
    return {
      value: 75
    }
  },

  computed: {
    barPercent() {
       let percentage = this.$store.getters[this.progressBarGetters] || 0; 
      return `${Math.floor(+percentage)}%`;
    }
  }
};
</script>

<style >
/**
 * Progress bars with centered text
 */
 .pagination-container {
  display:flex;
  align-items: center;
  justify-content:center;
  position: fixed; 
  top:0;
  bottom: 0; 
  right: 0; 
  left: 0; 
  height:100vh;
  background: rgba(0,0,0,.2);
  z-index: 9999999999;
}

.progress {
  position: relative;
  width: 500px;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 20px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
}
</style>