<template>
  <div>
    <qrcode-stream @decode="onDecode"></qrcode-stream>
    <!-- <h1>{{result}}</h1> -->

    <b-modal id="fileInfo" hide-header hide-footer size="md" centered>
      <div class="row mb-2">
        <div class="col-lg-12">
          <div class="mb-1 mt-2" v-if="info.file_name"><b>FILE NAME:</b> {{info.file_name}}
          </div>
          <div class="mb-1" v-if="info.senderName"><b>FROM:</b> 
            {{info.senderName}}
          </div>
          <div class="mb-1" v-if="info.receiverName"><b>TO:</b>
           {{info.receiverName}}
         </div>

         <div class="mb-1" v-if="info.owner"><b>OWNER:</b>
          {{info.owner}}
        </div>
        <div class="mb-1" v-if="info.created_at"><b>SENT AT:</b> 
          {{info.created_at}}
        </div>

        <div class="mb-1" v-if="info.uploaded_at"><b>UPLOADED AT:</b> 
          {{info.uploaded_at}}
        </div>
      </div>
    </div>

  </b-modal>
</div>
</template>

<script>
export default {
  data() {
    return {
      info: {

      }
    }
  },
  methods: {
    onDecode (decodedString) {

      let infos = JSON.parse(decodedString);

      console.log(infos);
      let tempInfos = {
        file_name: infos.file_name
      };

      if (infos.hasOwnProperty("sender")) {
        let deptInfo = this.deptName.filter(item => {
          return item.id_number == infos.sender;
        })
        tempInfos.senderName = deptInfo[0].name;
      }

      if (infos.hasOwnProperty("receiver")) {
        let deptInfo = this.deptName.filter(item => {
          return item.id_number == infos.receiver;
        })
        console.log(deptInfo);
        tempInfos.receiverName = deptInfo[0].name;
      }

      if (infos.hasOwnProperty("created_at")) {
       tempInfos.created_at = infos.created_at;
     }

      if (infos.hasOwnProperty("uploaded_at")) {
       tempInfos.uploaded_at = infos.uploaded_at;
     }

     if (infos.hasOwnProperty("owner")) {
       tempInfos.owner = infos.owner;
     } else {

      this.$store.dispatch('global/scanNotification',{
        qr:decodedString,
        url: infos.url
      })
      .catch(err => {
        vm.swalErrorMessage(err);
      })
     }

     this.info = tempInfos;

     setTimeout(() => {
      this.$bvModal.show('fileInfo');
    },2000)
   },
   getDepartmentNames() {
    this.$store.dispatch('departments/getDepartments');
  },
},
created() {
  this.getDepartmentNames();
},

computed: {
  deptName() {
    return this.$store.getters['departments/getDepartments'];
  },
}
};
</script>