<template>
	<form>
		<input type="search" placeholder="Search Pages...">
		<button type="button" aria-label="submit form">
			<svg aria-hidden="true">
				<use xlink:href="#search"></use>
			</svg>
		</button>
	</form>
</template>

<script>
	export default {


	};
</script>