<template>
	<div>
		<transition name="modal">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container" v-click-outside="closeModal">
						<form ref="sform">
							<div class="m-4" v-if="departments">

								<div class="row">
									<div class="col-lg-12">
										<div class="mb-4">
											<h6>
												<b>File Name:</b>&nbsp;{{fileInfo.file_name}}
											</h6>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label>Departments</label>
											<select class="form-control" v-model="sform.department" 
											required style="z-index:5">

											<template v-for="(item,index) in departments">
												<template v-if="item.id_number !== idNumber"> 
													<option :value="item.id_number" :Key="index">{{item.name}}</option>
												</template>	
											</template>
										</select>
									</div>
								</div>
							</div>
						</div>	

						<div class="modal-footer">
							<slot name="footer">
								<a class="red-button btn" href="Javascript:void(0)" @click="submitData" :class="{'disabled' : isDisabled}">send</a>
							</slot>
						</div>
					</form>
				</div>
			</div>
		</div>
	</transition>
</div>
</template>

<script>


export default {
	components: {},
	data() {
		return {
			isDisabled: false,
			sform: {
				department: "",
				filePath: ''
			}
		}
	},

	methods: {
		
		submitData() {



			let sender = localStorage.getItem("id_number"); 
			let name = localStorage.getItem("name"); 
			let filePath = `departments/${sender}/${this.fileInfo.file_name}`

			let department = this.departments.find(item => {
				return item.id_number == this.sform.department
			});

			let data = {
				url: this.fileInfo.url,
				filePath,
				fileName: this.fileInfo.file_name,
				name,
				sender,
				receiver: department.id_number,
				department_name: department.name
			}

			this.$store.dispatch('logs/sendFile', data)
			.then(res => {
				if(res) {
					vm.swalSuccessMessage('File sent');
				}
			})
			.catch(err => {
				console.log(err)
				vm.swalErrorMessage(err);
			})

		},

		closeModal() {
			this.$emit('close');
		},

		updateFile() {
			
		},

		getDepartmentNames() {
			this.$store.dispatch('departments/getDepartments');
		},

	},

	computed: {
		
		departments() {
			return this.$store.getters['departments/getDepartments'];
		},
		fileInfo() {
			return this.$store.getters['departments/getUpdateFileRequiredFields']
		},

		idNumber() {
			return localStorage.getItem("id_number"); 
		}
	},

	created() {
		this.getDepartmentNames();
	}
};
</script>

<style scoped>
.modal-mask {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	max-width: 360px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.modal-footer {
	justify-content: center;
}
</style>