<template>
	<div>
		<svg style="display:none;">
			<symbol id="down" viewBox="0 0 16 16">
				<polygon points="3.81 4.38 8 8.57 12.19 4.38 13.71 5.91 8 11.62 2.29 5.91 3.81 4.38" />
			</symbol>
			<symbol id="users" viewBox="0 0 16 16">
				<path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0ZM8,15a7,7,0,0,1-5.19-2.32,2.71,2.71,0,0,1,1.7-1,13.11,13.11,0,0,0,1.29-.28,2.32,2.32,0,0,0,.94-.34,1.17,1.17,0,0,0-.27-.7h0A3.61,3.61,0,0,1,5.15,7.49,3.18,3.18,0,0,1,8,4.07a3.18,3.18,0,0,1,2.86,3.42,3.6,3.6,0,0,1-1.32,2.88h0a1.13,1.13,0,0,0-.27.69,2.68,2.68,0,0,0,.93.31,10.81,10.81,0,0,0,1.28.23,2.63,2.63,0,0,1,1.78,1A7,7,0,0,1,8,15Z" />
			</symbol>
			<symbol id="collection" viewBox="0 0 16 16">
				<rect width="7" height="7" />
				<rect y="9" width="7" height="7" />
				<rect x="9" width="7" height="7" />
				<rect x="9" y="9" width="7" height="7" />
			</symbol>
			<symbol id="charts" viewBox="0 0 16 16">
				<polygon points="0.64 7.38 -0.02 6.63 2.55 4.38 4.57 5.93 9.25 0.78 12.97 4.37 15.37 2.31 16.02 3.07 12.94 5.72 9.29 2.21 4.69 7.29 2.59 5.67 0.64 7.38" />
				<rect y="9" width="2" height="7" />
				<rect x="12" y="8" width="2" height="8" />
				<rect x="8" y="6" width="2" height="10" />
				<rect x="4" y="11" width="2" height="5" />
			</symbol>
			<symbol id="comments" viewBox="0 0 16 16">
				<path d="M0,16.13V2H15V13H5.24ZM1,3V14.37L5,12h9V3Z"/><rect x="3" y="5" width="9" height="1"/><rect x="3" y="7" width="7" height="1"/><rect x="3" y="9" width="5" height="1"/>
			</symbol>
			<symbol id="pages" viewBox="0 0 16 16">
				<rect x="4" width="12" height="12" transform="translate(20 12) rotate(-180)"/><polygon points="2 14 2 2 0 2 0 14 0 16 2 16 14 16 14 14 2 14"/>
			</symbol>
			<symbol id="appearance" viewBox="0 0 16 16">
				<path d="M3,0V7A2,2,0,0,0,5,9H6v5a2,2,0,0,0,4,0V9h1a2,2,0,0,0,2-2V0Zm9,7a1,1,0,0,1-1,1H9v6a1,1,0,0,1-2,0V8H5A1,1,0,0,1,4,7V6h8ZM4,5V1H6V4H7V1H9V4h1V1h2V5Z"/>
			</symbol>
			<symbol id="trends" viewBox="0 0 16 16">
				<polygon points="0.64 11.85 -0.02 11.1 2.55 8.85 4.57 10.4 9.25 5.25 12.97 8.84 15.37 6.79 16.02 7.54 12.94 10.2 9.29 6.68 4.69 11.76 2.59 10.14 0.64 11.85"/>
			</symbol>
			<symbol id="settings" viewBox="0 0 16 16">
				<rect x="9.78" y="5.34" width="1" height="7.97"/><polygon points="7.79 6.07 10.28 1.75 12.77 6.07 7.79 6.07"/><rect x="4.16" y="1.75" width="1" height="7.97"/><polygon points="7.15 8.99 4.66 13.31 2.16 8.99 7.15 8.99"/><rect x="1.28" width="1" height="4.97"/><polygon points="3.28 4.53 1.78 7.13 0.28 4.53 3.28 4.53"/><rect x="12.84" y="11.03" width="1" height="4.97"/><polygon points="11.85 11.47 13.34 8.88 14.84 11.47 11.85 11.47"/>
			</symbol>
			<symbol id="options" viewBox="0 0 16 16">
				<path d="M8,11a3,3,0,1,1,3-3A3,3,0,0,1,8,11ZM8,6a2,2,0,1,0,2,2A2,2,0,0,0,8,6Z"/><path d="M8.5,16h-1A1.5,1.5,0,0,1,6,14.5v-.85a5.91,5.91,0,0,1-.58-.24l-.6.6A1.54,1.54,0,0,1,2.7,14L2,13.3a1.5,1.5,0,0,1,0-2.12l.6-.6A5.91,5.91,0,0,1,2.35,10H1.5A1.5,1.5,0,0,1,0,8.5v-1A1.5,1.5,0,0,1,1.5,6h.85a5.91,5.91,0,0,1,.24-.58L2,4.82A1.5,1.5,0,0,1,2,2.7L2.7,2A1.54,1.54,0,0,1,4.82,2l.6.6A5.91,5.91,0,0,1,6,2.35V1.5A1.5,1.5,0,0,1,7.5,0h1A1.5,1.5,0,0,1,10,1.5v.85a5.91,5.91,0,0,1,.58.24l.6-.6A1.54,1.54,0,0,1,13.3,2L14,2.7a1.5,1.5,0,0,1,0,2.12l-.6.6a5.91,5.91,0,0,1,.24.58h.85A1.5,1.5,0,0,1,16,7.5v1A1.5,1.5,0,0,1,14.5,10h-.85a5.91,5.91,0,0,1-.24.58l.6.6a1.5,1.5,0,0,1,0,2.12L13.3,14a1.54,1.54,0,0,1-2.12,0l-.6-.6a5.91,5.91,0,0,1-.58.24v.85A1.5,1.5,0,0,1,8.5,16ZM5.23,12.18l.33.18a4.94,4.94,0,0,0,1.07.44l.36.1V14.5a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5V12.91l.36-.1a4.94,4.94,0,0,0,1.07-.44l.33-.18,1.12,1.12a.51.51,0,0,0,.71,0l.71-.71a.5.5,0,0,0,0-.71l-1.12-1.12.18-.33a4.94,4.94,0,0,0,.44-1.07l.1-.36H14.5a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,0-.5-.5H12.91l-.1-.36a4.94,4.94,0,0,0-.44-1.07l-.18-.33L13.3,4.11a.5.5,0,0,0,0-.71L12.6,2.7a.51.51,0,0,0-.71,0L10.77,3.82l-.33-.18a4.94,4.94,0,0,0-1.07-.44L9,3.09V1.5A.5.5,0,0,0,8.5,1h-1a.5.5,0,0,0-.5.5V3.09l-.36.1a4.94,4.94,0,0,0-1.07.44l-.33.18L4.11,2.7a.51.51,0,0,0-.71,0L2.7,3.4a.5.5,0,0,0,0,.71L3.82,5.23l-.18.33a4.94,4.94,0,0,0-.44,1.07L3.09,7H1.5a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5H3.09l.1.36a4.94,4.94,0,0,0,.44,1.07l.18.33L2.7,11.89a.5.5,0,0,0,0,.71l.71.71a.51.51,0,0,0,.71,0Z"/>
			</symbol>
			<symbol id="collapse" viewBox="0 0 16 16">
				<polygon points="11.62 3.81 7.43 8 11.62 12.19 10.09 13.71 4.38 8 10.09 2.29 11.62 3.81"/>
			</symbol>
			<symbol id="search" viewBox="0 0 16 16">
				<path d="M6.57,1A5.57,5.57,0,1,1,1,6.57,5.57,5.57,0,0,1,6.57,1m0-1a6.57,6.57,0,1,0,6.57,6.57A6.57,6.57,0,0,0,6.57,0Z"/><rect x="11.84" y="9.87" width="2" height="5.93" transform="translate(-5.32 12.84) rotate(-45)"/>
			</symbol>
		</svg>
		<header class="page-header">
			<nav>
				<router-link to="/">
					<img class="logo" src="https://firebasestorage.googleapis.com/v0/b/aivan-d15fa.appspot.com/o/logo-your-boutique.png?alt=media&token=8b540309-e24d-4fbf-ad05-09adf5857b55" alt="doculog logo" >
				</router-link>

				<button class="toggle-mob-menu" 
				aria-expanded="false" aria-label="open menu" style="z-index: 20000">
				<svg width="20" height="20"  aria-hidden="true">
					<use xlink:href="#down"></use>
				</svg>
			</button>

			<ul class="admin-menu">
				<template v-if="!isAdmin" >
					<li class="menu-heading">
						<h3>Department</h3>
					</li>
					<li>
						<router-link :to="deptFileRoute">
							<i class="fa fa-users"></i>
							<span>Department Files</span>
						</router-link>
					</li>
					<li>
						<router-link :to="AddDeptFileRoute">
							<i class="fa fa-plus"></i>
							<span>Add Files</span>
						</router-link>
					</li>
				</template>		

				<template v-if="!isAdmin">
					<li class="menu-heading">
						<h3>Department Logs</h3>
					</li>
					<li>
						<router-link :to="deptLogs">
							<i class="fa fa-users"></i>
							<span>Logs</span>
						</router-link>
					</li>
				</template>


				<template v-if="isAdmin">
					<li class="menu-heading">
						<h3>Departments</h3>
					</li>
					<li>
						<router-link to="/departments">
							<i class="fa fa-users"></i>
							<span>Department List</span>
						</router-link>
					</li>
					<li>
						<router-link to="/departments/create">
							<i class="fa fa-plus"></i>
							<span>Add department</span>
						</router-link>
					</li>
				</template>

				<template v-if="isAdmin">
					<li class="menu-heading">
						<h3>Accounts</h3>
					</li>
					<li>
						<router-link to="/accounts">
							<i class="fa fa-users"></i>
							<span>Accounts List</span>
						</router-link>
					</li>
					<li>
						<router-link to="/accounts/create">
							<i class="fa fa-plus"></i>
							<span>Add Account</span>
						</router-link>
					</li>
				</template>
				
				<template v-if="isAdmin">
					<li class="menu-heading">
						<h3>All Logs</h3>
					</li>
					<li>
						<router-link to="/logs">
							<i class="fa fa-users"></i>
							<span>Logs</span>
						</router-link>
					</li>
				</template>
				<li>

				</li>

			</ul>
		</nav>
	</header>
	<section class="page-content">
		<section class="search-and-user">
			<form>
					<!-- <input type="search" placeholder="Search Pages...">
					<button type="submit" aria-label="submit form">
						<svg aria-hidden="true">
							<use xlink:href="#search"></use>
						</svg>
					</button> -->
				</form>
				<div class="admin-profile">

					<div class="mx-2" v-if="!this.isAdmin">
						<a href="Javascript:void(0)" @click="showScannerModal(true)">
							<i class="fa fa-camera main-color"></i>
						</a>
					</div>

					<div class="mx-2" v-if="notificationsTotal > 0 && !this.isAdmin">
						<a href="Javascript:void(0)" @click="showNotifications">
							<div class="notifications" v-if="notificationsTotal">
								<span class="badge">{{notificationsTotal}}</span>
							</div>
							<i class="fa fa-exclamation-triangle main-color"></i>
						</a>
					</div>


					<div class="dropdown">
						<a
						href="Javascript:void(0)"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
						>				
						<i class="fa fa-user main-color" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="Javascript:void(0)" class="dropdown-item"
						>{{accountName}}</a>

						<a href="Javascript:void(0)" class="dropdown-item"
						>{{accountEmail}}</a>

						<button class="dropdown-item" @click.prevent="logoutUser"
						>Logout
					</button>
				</div>
			</div>

		</div>
	</section>
	<section>
		<ContainerHeader/>

		<router-view></router-view>
	</section>
	<footer class="page-footer">
		<small v-html="footerText">
		</small>
	</footer>
</section>

<!-- <qrcode-stream></qrcode-stream>
<qrcode-drop-zone></qrcode-drop-zone>
<qrcode-capture></qrcode-capture> -->


<b-modal id="notifications" hide-header hide-footer size="lg" centered>
	<Notifications/>
</b-modal>


<b-modal id="qrscanner" hide-header hide-footer size="lg" centered>
	<div class="row mb-2">
		<div class="col-lg-12">
			<a href="Javascript:void(0)" @click="showScannerModal(false)" class="btn btn-light pull-right">
				<i class="fa fa-times"></i>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<QrScanner/>
		</div>
	</div>
</b-modal>



<OnlineChecker/>
</div>
</template>

<script>

import QrScanner from '@/views/components/QrScanner'
import Notifications from '@/views/components/Notifications'
import ContainerHeader from '@/views/components/ContainerHeader'
import OnlineChecker from '@/views/components/OnlineChecker'
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
	components: {
		Notifications,
		OnlineChecker,
		ContainerHeader,
		QrScanner
	},
	data() {
		return {
			showQrScanner: false,
			showPreLoader: true,
			isAdmin: false,
			isMobile: false,
			windowWidth: window.innerWidth,

		}
	},

	methods: {
		logoutUser() {
			this.$store.dispatch('auth/logoutUser');
		},

		prepareScript() {
			const body = document.body;
			const toggleMobileMenu = document.querySelector(".toggle-mob-menu");

			toggleMobileMenu.addEventListener("click", function() {
				this.getAttribute("aria-expanded") == "true"
				? this.setAttribute("aria-expanded", "false")
				: this.setAttribute("aria-expanded", "true");
				this.getAttribute("aria-label") == "open menu"
				? this.setAttribute("aria-label", "close menu")
				: this.setAttribute("aria-label", "open menu");
				body.classList.toggle("mob-menu-opened");
			});
		},

		showNotifications() {
			this.$bvModal.show('notifications')

		},

		showScannerModal(value) {
			if(value) {
				return this.$bvModal.show('qrscanner')
			}
			return this.$bvModal.hide('qrscanner')

		},

		onResize() {
			this.windowWidth = window.innerWidth
		}

	},
	computed: {
		footerText() {
			return 'Copyrights 2020 @'
		},

		deptFileRoute() {
			if(this.isAdmin) return '/';
			
			let dept = localStorage.getItem("department"); 
			if (dept !== null) {
				return `/departments/view-files/${dept}`
			}
			return '/';
		},

		AddDeptFileRoute() {
			if(this.isAdmin) return '/';
			let dept = localStorage.getItem("department"); 
			if (dept !== null) {
				return `/departments/add-file/${dept}`
			}
			return '/';
		},

		accountName() {
			let name = localStorage.getItem("name"); 
			if (name !== null) {
				return name
			}
			return '';
		},

		accountEmail() {
			let email = localStorage.getItem("email"); 
			if (email !== null) {
				return email
			}
			return '';
		},

		deptLogs() {
			if(this.isAdmin) return '/';
			let dept = localStorage.getItem("department"); 
			if (dept !== null) {
				return `/logs/department/${dept}`
			}
			return '/';
		},

		notificationsTotal() {
			return  this.$store.getters['global/getNotificationsCount'];
		},

		

	},
	async created() {
		if(!this.isAdmin) {
			await this.$store.dispatch('global/getNotificationsCount',{})
		}
		return await true;
	},

	mounted() {
		this.prepareScript();

		firebase.auth().currentUser.getIdTokenResult(true).then(res=> {
			this.isAdmin = res.claims.admin;
		})

		if(window.innerWidth > 700) {
			this.isMobile = false;
		} else {
			this.isMobile = true;
		}

		this.$nextTick(() => {
			document.documentElement.webkitRequestFullScreen();
			this.showPreLoader = false
			window.addEventListener('resize', this.onResize);
		})

	},

	beforeDestroy() { 
		window.removeEventListener('resize', this.onResize); 
	},

	watch: {
		windowWidth(value) {
			if(+value > 700) {
				return this.isMobile = false;
			} else {
				return this.isMobile = true;
			} 

		}
	}
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
	--page-header-bgColor: #242e42;
	--page-header-bgColor-hover: #E3301C;
	--page-header-txtColor: #f2f2f2;
	--page-header-headingColor: #F5B3AC;
	--page-header-width: 220px;
	--page-content-bgColor: #f0f1f6;
	--page-content-txtColor: #171616;
	--page-content-blockColor: #fff;
	--white: #fff;
	--black: #333;
	--red: #ec1848;
	--border-radius: 4px;
	--box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a,
button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	background: none;
	cursor: pointer;
}

input {
	-webkit-appearance: none;
}

button,
input {
	border: none;
}

svg {
	display: block;
}

body {
	font: 16px/1.5 "Lato", sans-serif;
}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding-top: 20px;
	width: var(--page-header-width);
	color: var(--page-header-txtColor);
	/*background: var(--page-header-bgColor);*/

	background: -webkit-gradient(linear, left bottom, left top, from(#e64533), to(#E74C3C));
	background: linear-gradient(to top, #e64533, #E74C3C);
}

/*In case you prefer an absolutely positioned header that covers the full page height, add these styles*/
/*body {
  position: relative;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  }*/

  /*remove these styles*/
/*.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  }*/

  .page-header nav {
  	display: flex;
  	flex-direction: column;
  	min-height: 100%;
  }

  .page-header .logo {
  	display: block;
  	max-width: 170px;
  	margin: 0 15px;
  }

  .page-header .toggle-mob-menu {
  	display: none;
  	margin-left: 5px;
  	padding: 4px;
  	background: var(--page-content-blockColor);
  	border-radius: var(--border-radius);
  }

  .page-header .toggle-mob-menu svg {
  	fill: var(--black);
  	transition: transform 0.2s;
  }

  .page-header .admin-menu {
  	display: flex;
  	flex-direction: column;
  	flex-grow: 1;
  	margin-top: 35px;
  }

  .page-header .admin-menu li:nth-last-child(2) {
  	margin-bottom: 35px;
  }

  .page-header .admin-menu li:last-child {
  	margin-top: auto;
  	margin-bottom: 20px;
  }

  .page-header .admin-menu li > * {
  	width: 100%;
  	padding: 12px 15px;
  }

  .page-header .admin-menu .menu-heading h3 {
  	text-transform: uppercase;
  	letter-spacing: 0.15em;
  	font-size: 12px;
  	margin-top: 12px;
  	color: var(--page-header-headingColor);
  }

  .page-header .admin-menu i {
  	font-size: 1.2em;
  	width: 20px;
  	height: 20px;
  	fill: var(--page-header-txtColor);
  	margin-right: 10px;
  	transition: fill 0.2s;
  }

  .page-header .admin-menu a,
  .page-header .admin-menu button {
  	display: flex;
  	align-items: center;
  	font-size: 0.9rem;
  	transition: background 0.2s, color 0.2s;
  }

  .page-header .admin-menu a:hover,
  .page-header .admin-menu a:focus,
  .page-header .admin-menu button:hover,
  .page-header .admin-menu button:focus,
  .page-header .admin-profile a:hover {
  	background: var(--page-header-bgColor-hover);
  	color: var(--white);
  	outline: none;
  }

  .page-header .admin-menu a:hover i,
  .page-header .admin-menu a:focus i,
  .page-header .admin-menu button:hover i,
  .page-header .admin-menu button:focus i {
  	fill: var(--white);
  }


/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
	position: relative;
	left: var(--page-header-width);
	width: calc(100% - var(--page-header-width));
	min-height: 100vh;
	padding: 30px;
	color: var(--page-content-txtColor);
	background: var(--page-content-bgColor);
}

.search-and-user {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 50px;
	align-items: center;
	background: var(--page-content-bgColor);
	margin-bottom: 30px;
}

.search-and-user form {
	position: relative;
}

.search-and-user input[type="search"] {
	width: 100%;
	height: 50px;
	font-size: 1.5rem;
	padding-left: 15px;
	background: var(--page-content-blockColor);
	color: var(--black);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

.search-and-user ::placeholder {
	color: var(--page-content-txtColor);
}

.search-and-user form svg {
	width: 26px;
	height: 26px;
	fill: var(--page-content-txtColor);
}

.search-and-user form button {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}

.search-and-user .admin-profile {
	display: flex;
	align-items: center;
}

.search-and-user .admin-profile .greeting {
	margin: 0 10px 0 20px;
}

.search-and-user .admin-profile i.fa {
	font-size: 1.5em;
	background: white;
	padding: 5px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 30px;
	text-align: center;
}

.search-and-user .admin-profile .notifications {
	position: relative;
}

.search-and-user .admin-profile .badge {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -5px;
	right: -3px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	font-size: 10px;
	color: var(--white);
	background: var(--page-header-headingColor);
}


/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {
	.page-header,
	.page-content {
		position: static;
		width: 100%;
	}

	.page-header {
		padding: 10px;
	}

	.page-header nav {
		flex-direction: row;
	}

	.page-header .logo {
		margin: 0;
		height: 35px;
	}

	.page-header .toggle-mob-menu {
		display: block;
	}

	.page-header .admin-menu {
		position: absolute;
		left: 10px;
		top: 57px;
		margin-top: 0;
		z-index: 2;
		border-radius: var(--border-radius);
		/*background: var(--page-header-bgColor);*/
		background: -webkit-gradient(linear, left bottom, left top, from(#e64533), to(#E74C3C));
		background: linear-gradient(to top, #e64533, #E74C3C);
		visibility: hidden;
		opacity: 0;
		transform: scale(0.95);
		transition: all 0.2s;
	}

	.page-header .admin-menu li:nth-last-child(2) {
		margin-bottom: 12px;
	}

	.page-header .admin-menu li:last-child,
	.search-and-user .admin-profile .greeting {
		display: none;
	}

	.page-content {
		min-height: 0;
		padding: 10px;
	}

	.search-and-user {
		position: absolute;
		left: 131px;
		top: 10px;
		padding: 0;
		grid-column-gap: 5px;
		width: calc(100% - 141px);
		border-radius: var(--border-radius);
		background: transparent;
	}

	.search-and-user input[type="search"] {
		font-size: 1rem;
		height: 35px;
	}

	.search-and-user form svg {
		width: 18px;
		height: 18px;
	}

	.search-and-user .admin-profile a {
		fill: var(--white);
	}
}

@media screen and (max-width: 400px) {
	.page-content .grid > article {
		grid-column: 1 / -1;
	}
}


/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mob-menu-opened .toggle-mob-menu svg {
	transform: rotate(180deg);
}

.mob-menu-opened .page-header .admin-menu {
	transform: scale(1);
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.collapsed .page-header {
		width: 40px;
	}

	.collapsed .page-header .admin-menu li > * {
		padding: 10px;
	}

	.collapsed .page-header .logo,
	.collapsed .page-header .admin-menu span,
	.collapsed .page-header .admin-menu .menu-heading {
		display: none;
	}

	.collapsed .page-header .admin-menu svg {
		margin-right: 0;
	}

	.collapsed .page-header .collapse-btn svg {
		transform: rotate(180deg);
	}

	.collapsed .page-content {
		left: 40px;
		width: calc(100% - 40px);
	}
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
	font-size: 0.85rem;
	text-align: right;
	margin-top: 10px;
}

.page-footer span {
	color: var(--red);
}
</style>	

